# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other binaries
*.zip
fifotest
setregisters
singlerate
scanrate
scanupper
scanwindow
currentrate
getspectrum
teststatus
packettest
readcal
*diagnostics.root

# Other make output
library/C/lib/libR76Firmware.txt
r5560_sdk/linux
MIDAS_FORK/*.txt

# Backups
*.scf_bk
*.old

# settings
.vscode
.build-debug/

# Unwanted SCICompiler Output
HDL/
VC++/
output/R76Firmware

# Unnamed output
out.csv
log.txt
diff.txt

# Backups
.ipynb_checkpoints
*.swp

# Other Directories
library/C/lib/local_scripts
MIDAS_FORK/calibrations

# Large files
*_long*.csv
*.odb

# Other
makefile_file_manip
MIDAS_FORK/*.xml

