# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other binaries
*.zip
fifotest
setregisters
singlerate
scanrate
scanupper
scanwindow
currentrate
getspectrum
teststatus
packettest
readcal
rate
*diagnostics.root

# Other make output
library/C/lib/libR76Firmware.txt
r5560_sdk/linux
MIDAS_FORK/*.txt

# Backups
*.scf_bk
*.old

# settings
.vscode
.build-debug/

# Unwanted SCICompiler Output
VC++/
output/R76Firmware

# Unnamed output
out.csv
log.txt
diff.txt

# Backups
.ipynb_checkpoints
*.swp

# Other Directories
library/C/lib/local_scripts
MIDAS_FORK/calibrations

# Large files
*_long*.csv
*.odb

# Other
makefile_file_manip
MIDAS_FORK/*.xml
*.log
midas.log
**/.virtual_documents/
*.v
*.save
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/example_design/gt/ZynqDesign_OPTOLINK_0_0_multi_wrapper.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/src/ZynqDesign_OPTOLINK_0_0_rx_channel_err_detect_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/src/ZynqDesign_OPTOLINK_0_0_rx_channel_init_sm_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/src/ZynqDesign_OPTOLINK_0_0_rx_channel_err_detect_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/example_design/gt/ZynqDesign_OPTOLINK_0_0_multi_wrapper.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/src/ZynqDesign_OPTOLINK_0_0_rx_stream_datapath_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/src/ZynqDesign_OPTOLINK_0_0_tx_ch_bond_code_gen_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/src/ZynqDesign_OPTOLINK_0_0_tx_channel_err_detect_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/src/ZynqDesign_OPTOLINK_0_0_tx_channel_init_sm_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/src/ZynqDesign_OPTOLINK_0_0_tx_channel_err_detect_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/src/ZynqDesign_OPTOLINK_0_0_tx_channel_init_sm_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/src/ZynqDesign_OPTOLINK_0_0_tx_stream_control_sm_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_0_0/ZynqDesign_OPTOLINK_0_0/src/ZynqDesign_OPTOLINK_0_0_tx_stream_datapath_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_1_0/ZynqDesign_OPTOLINK_1_0/example_design/gt/ZynqDesign_OPTOLINK_1_0_multi_wrapper.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_1_0/ZynqDesign_OPTOLINK_1_0/src/ZynqDesign_OPTOLINK_1_0_rx_channel_err_detect_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_1_0/ZynqDesign_OPTOLINK_1_0/src/ZynqDesign_OPTOLINK_1_0_rx_channel_init_sm_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_1_0/ZynqDesign_OPTOLINK_1_0/src/ZynqDesign_OPTOLINK_1_0_rx_stream_datapath_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_1_0/ZynqDesign_OPTOLINK_1_0/src/ZynqDesign_OPTOLINK_1_0_tx_ch_bond_code_gen_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_1_0/ZynqDesign_OPTOLINK_1_0/src/ZynqDesign_OPTOLINK_1_0_tx_channel_err_detect_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_1_0/ZynqDesign_OPTOLINK_1_0/src/ZynqDesign_OPTOLINK_1_0_tx_channel_init_sm_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_1_0/ZynqDesign_OPTOLINK_1_0/src/ZynqDesign_OPTOLINK_1_0_tx_stream_control_sm_simplex.v
r5560_sdk/NaI_array_spectra/V2/retarget/output/killspectra/killspectra.srcs/sources_1/bd/ZynqDesign/ip/ZynqDesign_OPTOLINK_1_0/ZynqDesign_OPTOLINK_1_0/src/ZynqDesign_OPTOLINK_1_0_tx_stream_datapath_simplex.v
/r5560_sdk
